<div>
	<div id="float_left">
		<img class="myopqimg" src="images/mypic.JPG" alt="Anamika Opaque Pic" />
		<div id="aboutme">
			<span>ABOUT</span><br/>
			Anamika Anand</br/><br/><br/>
		</div>

				<h2>WEB DESIGN<br/><br/>
					USER INTERFACE<br/><br/>
				</h2>
			</div>

			<div id="div_right">
				<p id="para_intro"> My Introduction </p>
				<img id="myimg" src="images/mypic.JPG" alt="Anamika pic" />
				<p> Hi!! I am Anamika Anand. I am from India. I am currently Living in utah for 3 years. </p>
				<p id="skill"> SKILLS</p>
				<details>
					<summary> Web Technologies</summary>
					<p> HTML4/5, CSS2/3, HTML, Javascript, Jquery, Angular js, Bootstrap</p>
				</details>

				<details>
					<summary>Operating</summary>
					<p>Windows(vista/9x/NT/XP),win7, win * & 10 </p>
				</details>

				<details>
					<summary>Dev Tool</summary>
					<p>MS office, MS Excel </p>
				</details>

				<details>
					<summary>IDE's</summary>
					<p>Notepad, Notepad++, JS fiddle, Microsoft Web Matrix, Sublime Text </p>
				</details>

			</div>
		</div>