

<div>
	<div>
		<h2> ANAMIKA ANAND </h2>
	</div>
	<div>
		<p> E-mail: aanamikanand@gmail.com </p>
		<p> +1 (801) 245 9540 </p>
	</div>	
</div>
<hr />

<div>
	<h3> OBJECTIVE <H3>
	<p> To obtain a position as a UI Developer in a challenging environment that utilizes team-work effort for researching, learning and developing new high-tech products, where I can learn and contribute in positive ways.
	</p>
</div>

<div>
<h3> Experience Summary: </h3>
<ul>
	<% @experiences.each do |experience| %>
	<li><%= experience %></li>
	<% end %>
</ul>
</div>

<hr/>

<div>
	<div>
		<h2> Skills </h2>
	</div>
	<div>
		<p>Web Technologies: HTML4/5, CSS2/3, XML, JavaScript, JQUERY, Bootstrap, AngularJS, Underscore.js JavaScript, PHP, WordPress, Adobe Photoshop, Adobe Flash, Adobe Illustrator, Corel Draw, Adobe Dreamweaver. </p>
	</div>
</div>

<hr/>

<div>
	<div>
		<h2>Personal Information</h2>
	</div>
	<table>
		<tr>
			<td>
				PRESENT ADDRESS:
			</td>
			<td>
				7400 S State Street, APT 5203, Midvale, UT- 84047
			</td>
		</tr>
		<tr>
			<td>
				DOB:
			</td>
			<td>14<sup>th</sup> March 1990</td>
		</tr>
	</table>
</div>

<hr/>

<div>
	<p>I hereby declare that the above information is true as per my concern.</p>
</div>